{% load filters %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/questions.css' %}">

<html>

  <head>
      <title>MATHGEN - Contents</title>
          <link rel="shortcut icon" type="image/x-icon" href="/media/favicon.ico" />
      <style>
        #grid {
                display: grid;
                grid-template-columns: 5% 45%  5% 45%;
                width: 96%;
                height: 78vh;
                color: white;
                font-size: 28px;
                text-align: center;
                vertical-align: top;
                align-items: top;
                grid-template-rows: {% for row in rows %} 50vh {% endfor %};
                margin: 2%;

            }
        </style>
  </head>
  <body style="background: #bcdff5;">

    <div id=grid style="grid-template-columns: 100%; height:100vh">
        <div style="text-align:left;height=15vh;">
              <img src="/media/mathgen.png" style="height:10vh;">
        </div>
        <div style="height=15vh"> <a href='sub/?task=N' onclick="openNav()" class="button1" style="font-size:36px;">Number</a> </div>
        <div style="height=15vh"> <a href='sub/?task=A' onclick="openNav()" class="button1" style="font-size:36px;">Algebra</a> </div>
        <div style="height=15vh"> <a href='sub/?task=S' onclick="openNav()" class="button1" style="font-size:36px;">Shape</a> </div>
        <div style="height=15vh"> <a href='sub/?task=D' onclick="openNav()" class="button1" style="font-size:36px;">Data</a> </div>
        <div style="height=15vh"> <a href='sub/?task=G' onclick="openNav()" class="button1" style="font-size:36px;">Starters</a> </div>
        <div style="height=15vh; font-size:36px"><br><br> </div>
        <div style="text-align:right;"> <a href=# onclick="window.open('/', '_blank', 'toolbar=0,width=' + screen.width + ',height=' + screen.height + '');" class="button1" style="font-size:12px;">Pop Out</a><a href=# onclick="window.alert('All icons by Streamline');" class="button1" style="font-size:12px;">i</a> </div>
    </div>
  </body>
</html>
