{% load filters %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'polls/contents.css' %}">
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="/media/favicon.ico" />
    <meta charset="utf-8">
    <title>MATHGEN - {{strand}}</title>
  </head>
  <body>
    <table width="100%">
      <tr>
        <th colspan="5"> {{strand}} </th>
      </tr>
      {% for i in count %}
        {% if year|lookup:i == 7 %}
          <tr>
        {% endif %}
        <td><a class="btn-link" href="/qs/?year={{year|lookup:i}}&task={{task_code|lookup:i}}">{{topics|lookup:i}}</a></td>

        {% if year|lookup:i == 11 %}
          </tr>
        {% endif %}

      {% endfor %}

    </table>

            <div style="text-align: center; margin:4vh 0 0 0;">

            <a href="/"  class="button1" style="font-size:20px;">Home</a>

          </div>

  </body>
</html>
