div {
 height = 100vh
}
.MathJax_Display {
    margin: 1vh 0 3vh 0 !important;
}
span {
    top: 0;
    height: 5vh;
    bottom: 10vh;
    vertical-align: middle;

}
table{
  width:100%;
}


td{
  padding: 5px;
  line-height: 5vh;
  text-align: center;
  vertical-align: top;
  font-weight: 100;
  font-size: 28px;
  color: #fff;
  border-bottom: solid 0px rgba(255,255,255,0.1);
}

li *:empty{
  display: none;
}


.mjx-chtml.MJXc-display{
  margin: 0;
}
/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}