a{
  color: black;
  text-decoration: none; /* no underline */

}
a: hover{
    text-decoration:
}

h1{
  font-size: 4vhpx;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}



table{
  width:100%;
  table-layout: fixed;
}

.table a
{
    display:block;
    text-decoration:none;
}

.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 10px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 800;
  background-color: rgba(255,255,255,0.1);
  font-size: 3vw;
  color: black;
  text-transform: uppercase;
}
td{
  padding: 20px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 1.5vw;
  color: black;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

td:hover {
    background-color: rgba(33, 169, 255, 0.3);
}

li *:empty{
  display: none;
}
.mjx-chtml.MJXc-display{
  margin: 0;
}
/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: #bcdff5;
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
}
a.button1:hover{
    color:#21a9ff;

    font-weight:200;
    border: 0.1em solid #21a9ff;
}

@media all and (max-width:30em){
    a.button1{
       display:block;
       margin:0.4em auto;
}
}

