
.MathJax_Display {
    margin: 1vh 0 1vh 0 !important;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

span {
    top: 0;
    height: 5vh;
    bottom: 10vh;

}


li *:empty{
  display: none;
}

mjx-container {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
}

.mjx-chtml.MJXc-display{
  margin: 0;
}
/* demo styles */

a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
}
a.button1:hover{
    color:#21a9ff;

    font-weight:200;
    border: 0.1em solid #21a9ff;
}
@media all and (max-width:30em){
    a.button1{
       display:block;
       margin:0.4em auto;
}
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background-color: #bcdff5;
  font-family: 'Roboto', sans-serif;
  color: black;
}
section{
  margin: 50px;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}







* {
	margin: 0;
	padding: 0;
}

body {
	background: #F5F5F5;
	font-family: sans-serif;
	height: 100%;
	width: 100%;
}

h2 {
  text-align: center;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
}

.paint {
  padding-top: 2px;
}

/* CANVAS STYLING
===================*/

canvas {
	cursor: url(../img/cursor.png), crosshair;
	background:transparent;
}

/* CONTROLS (NEW COLOURS)
=======================*/

.controls {
	min-height: 60px;
	margin: 0 0;
	width: 800px;
	border-radius: 5px;
	overflow: hidden;
}
ul {
	list-style:none;
	margin: 0;
	float: 	left;
	padding: 10px 0 10px;
	width: 100%;
	text-align: center;
}

ul li, #newColor {
	display:block;
	height: 54px;
	width: 54px;
	border-radius: 60px;
	cursor: pointer;
	border: 0;
	box-shadow: 0 3px 0 0 #E0E0E0;
}

ul li {
	display: inline-block;
	margin: 0 5px 5px;
}

.red {
	background: #FF6970;
}

.blue {
	background: #4D9DC5;
}

.yellow {
	background: #FFB410;
}
.green {
    background: #62B68F;
}
.white {
    background: white;
}

.clear {

}

.selected {
	width: 54px;
	height: 54px;
	-webkit-box-shadow: inset 1px 1px 10px #333;
    -moz-box-shadow:    inset 1px 1px 10px #333;
    box-shadow:         inset 1px 1px 10px #333;
}

/* BUTTON STYLES
==============*/

button {
	background: #68B25B;
	box-shadow: 0 3px 0 0 #6A845F;
	color: #fff;
	outline: none;
	cursor: pointer;
	text-shadow: 0 1px #6A845F;
	display: block;
	font-size: 16px;
	line-height: 40px;
}
#revealColorSelect {
	border: none;
	border-radius: 5px;
	margin: 10px auto;
	padding: 5px 20px;
	width: 160px;
}
#clear {
	border: none;
	border-radius: 5px;
	margin: 10px auto;
	padding: 0 20px;
	width: 160px;
	height: 40px;
}

/* New Color Palette
==================*/

#colorSelect {
	background: #fff;
	border-radius: 5px;
	clear: both;
	margin: 20px auto 0;
	padding: 10px;
	width: 305px;
	position: relative;
	display:none;
	border-top: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
}
#colorSelect:after {
	bottom: 100%;
	left: 50%;
	border: solid;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}

#newColor {
	width: 80px;
	height: 80px;
	border-radius: 3px;
	box-shadow: none;
	float: left;
	border: none;
	margin: 10px 20px 20px 10px;
}
.sliders p {
	margin: 8px 0;
	vertical-align: middle;
}
.sliders label {
	display: inline-block;
	margin: 0 10px 0 0;
	width: 35px;
	font-size: 14px;
	color: #6D574E;
}
.sliders input {
	position: relative;
	top: 2px;
}
#colorSelect button {
	border: none;
	border-top: 1px solid #6A845F;
	border-radius: 0 0 5px 5px;
	clear: both;
	margin: 10px -10px -7px;
	padding: 5px 10px;
	width: 325px;
}